{{outlet}}

<h1>Contact Us</h1>

<h2>Interested in having Girl Code come to your school?</h2>
<p>
  We do lunchtime presentations and "Code Day" workshops!
</p>


<h2>contact info</h2>

{{#link-to 'about'}}About Page{{/link-to}}<br>
{{#link-to 'index'}}Home{{/link-to}}
